# IF SUCCESSFUL (after enter data)

{% extends "layout.html" %}

{% block title %}
    Stock Quote
{% endblock %}

{% block main %}
    <div class="card mx-auto">
      <div class="card-body text-center">
        <h6 class="card-title">Stock: {{ name }} ({{ symbol.upper() }})</h6>

        <p class="card-text mt-3">
          Current Price: $ {{ price }} (USD)
        </p>

        <a href="/quote" class="btn btn-primary mt-3">Get Another Quote</a>
        <a href="/" class="btn btn-primary mt-3">Home</a>
      </div>
    </div>

{% endblock %}
